<div class="container">
    <div class="c-form">
      <div class="logo">
        <a href="https://www.makeamiracle.net/" target="_blank">
          <img src="http://speedfiles.glitch.me/image/speedfiles-1589426069706-79.png" alt="logo">
          <h1>Make a Miracle</h1>
        </a>
      </div>
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group class="input-group" nzPrefixIcon="user">
              <input type="text" nz-input class="input" formControlName="userName" placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group class="input-group" nzPrefixIcon="lock">
              <input type="password" nz-input class="input" formControlName="password" placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button class="login-form-button" [nzType]="'primary'" nzSize="large">Log in</button>
      </form>
    </div>
  </div>